body {
    background-image: url("../images/space_bg.jpg");
    height: 100vh;

    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-and-text {
    position: relative;
}
.background-image {
    margin-top: 30px;
    opacity: 0.5;
}
.text-over-image {
    position: absolute;
    color: white;
    top: 33%;
    left: 10%;
    width: 80%;
    opacity: 1;
}
.white-text {
    color: white;
}

.disclaimer-footnote {
    color: white;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
}


