body {
    background-image: url("../images/space_bg.jpg");
    height: 100vh;

    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-and-text {
    position: relative;
}
.background-image {
    display: block;
    margin-top: 20px;
    opacity: 0.5;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}
.text-over-image {
    position: absolute;
    color: white;
    top: 45%;
    left: 25%;
    display:block;
    opacity: 1;
}
.text-over-image-mobile {
    position: absolute;
    color: white;
    top: 40%;
    left:5%;
    display:block;
    opacity: 1;
}
.white-text {
    color: white;
}
.carousel {
    margin: 0 auto;
}

.disclaimer-footnote {
    color: white;
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
}

.disclaimer-header {
    color: white;
    position: fixed;
    text-align: left;
    left: 0;
    top: 0;
}
.carousel-item {
    z-index: 1;
    box-sizing: content-box;
    width:100%;
}

.carousel-control-prev {
    z-index: 1;
    left:-10%
}

.carousel-control-next {
    z-index: 1;
    right:-10%;
}
.hyperlink-in-container {
    z-index: 2;
    text-align: center;
}

#about-section {
    margin: 5vh auto;
}
